<div class="sidenav">
    <div class='sideNavDiv'><a href="books"><h3>New Book</h3></a></div>
    <div class='sideNavDiv'><a href="essayCols"><h3>New Collection</h3></a></div>
    <div class='sideNavDiv'><a href="poems"><h3>New Poem</h3></a></div>
    <div class='sideNavDiv'> <a href="#">Contact</a></div>
</div>