<div class="sidenav">
    <div class='sidenav_div'>
    <div class='sideNavDiv'><a href="newBooks"><h3>Get Book</h3></a></div> <!--This goes directly to newBooks.ejs.-->
    <div class='sideNavDiv'><a href="newBooks"><h3>New Book</h3></a></div> <!--This goes directly to newBooks.ejs.-->
    <div class='sideNavDiv'><a href="newBooks"><h3>Update Book</h3></a></div> <!--This goes directly to newBooks.ejs.-->
    </div>
    <div class='sidenav_div'>
    <div class='sideNavDiv'><a href="newEssays"><h3>Get Essay Collection</h3></a></div>
    <div class='sideNavDiv'><a href="newEssays"><h3>New Essay Collection</h3></a></div>
    <div class='sideNavDiv'><a href="newEssays"><h3>Update Essay Collection</h3></a></div>
    </div>
    <div class='sidenav_div'>
    <div class='sideNavDiv'><a href="newPoems"><h3>Get Poem</h3></a></div>
    <div class='sideNavDiv'><a href="newPoems"><h3>New Poem</h3></a></div>
    <div class='sideNavDiv'><a href="newPoems"><h3>Update Poem</h3></a></div>
    </div>
</div>