<section>

    <div class='spacer'>
    </div> 
    <div style="height: 500px;">
    <div>
    <h3><%= Poem.title %></h3>
    </div> 
    <div>
        <p><%= Poem.body %></p>
    </div>
    </div>


  
</section>