<section>
    <div class='spacer'>
    </div> 
    
    <h1 class='purpleBox'>Dashboard</h1>
    <div class="purpleBox">


    <h2> Welcome, <%= user.name %> !</h2>
    <br>
    <a href="/users/logout">Logout</a>__
    <a href="/directory">Directory</a>
    </div> 
</section>