<section style='background-color: dodgerblue;'>
  <%- include('../partials/sidenav'); %>
<br>
<br>
<div class='mainContainer'>
	<div class='purpleBox'>
		<div class='flexbox'>
		<a href="newStuff">New Stuff</a>
		<a href="getStuff">Get Stuff</a>
		</div>
	</div>
    <div class='purpleBox'>

        <h2 id="site_title">Palace</h2>
        <h3 class="headings">Book Titles:</h3>

        <h4 class="titles">The Philosophy of Design</h4> <!-- This need an href link.-->
        <h4 class="titles">The Aesthetics of Design</h4> <!-- This need an href link.-->
        <h4 class="titles">The Meaning of Transcendence: A Heideggerian Reflection</h4> <!-- This need an href link.-->
        <h4 class="titles">Truth and Method</h4> <!-- This need an href link.-->
        <h4 class="titles">Anarchy, State, and Utopia</h4> <!-- This need an href link.-->
        
        <h4 class="titles">Tacit Knowledge</h4>
        <h3 class="headings">Essay Collections:</h3>
        <h4 class="titles">Koornmarkt Straat</h4> <!-- This need an href link.-->
        <h3 class="headings">Poems and Scripture:</h3>
        <h4 class="titles">If</h4>
    </div>
</div>
</section>