* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #570f0f;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
  } 
section {
    height: 100vh;
    /* padding-left: 20%; */
    padding-bottom: 30px;
}
section::-webkit-scrollbar {
    display: none;
} 
.purpleBox {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    max-height: 400px;
    overflow: scroll;
    width: 60%;
    border: 3px solid purple;
    padding: 30px;
}
.purpleBox::-webkit-scrollbar {
    display: none;
} 
.purpleBox, p {
    color: #666666;
}
#inside {
    text-align: center;
}
.formContainer {
    margin: auto;
    margin-top: 30px;
    width: 325px;
    border: 3px solid purple;
    padding: 10px;
}
.links {
    color: darkblue
}
.spacer {
    height: 20vh;
}
.sidenav::-webkit-scrollbar {
    display: none;
}
.sidenav {
    /* overflow-y: hidden; */
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 1; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.sideNavDiv {
    justify-content: center;
    text-align: center;  
    /* border: green solid 2px;  */
    flex: 100%;
    padding: 10% 0 10% 0;
}
.sideNavDiv, a {
         /* margin: auto;  */
    color: aqua;
    padding: auto;
    /* text-align: center;
    justify-content: center; */
}
.sidenav_div {
    margin: auto 10px auto 10px;
    padding: 10px;
    border: purple solid 2px;
}
main {
    height: 100vh; 
    width: 80%;
    position: fixed;
    z-index: 1;
    top: 0; 
    right: 0;
    border: #111 solid 10px;
}
.imageContainer {
    height: 70vh; 
    width: 80%;
    margin: 10% 10% 10% 10%;
    overflow-x: hidden;
}
img {
    border: #111 solid 10px; 
    max-width:100%;
    max-height:100%;
    object-fit: fill ;
}
textarea {
    background-color: steelblue;
}
input[type=text] {
    background-color: steelblue;
}
.flexbox {
    display: flex;
    justify-content: space-evenly;
}
.details_Div {
    margin: auto;
    width: 500px;
    color: #666666;
}
a {
    color: linen;
    text-decoration: none;
}
/*=========================== DropDown styling */
.dropbtn {
  background-color: #111;
  color: linen;
  border-radius: 10px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #570f0f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: linen;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #38011c;}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #222;
}
/*=========================== DropDown styling */