<section>

    <div class='spacer'>
    </div> 
    <div class='details_Div'>
    <div style="height: 500px;">
    <div>
    <h3>Book title = <%= Book.title %></h3>
    </div> 
    <div>
        <p>Book body : <%= Book.body %></p>
    </div>
    </div>
    </div>

  
</section>