<section>

    <div class='spacer'>
    </div> 
    <div class='details_Div'>
    <div style="height: 500px;">
    <div>
    <h3>Essay title = <%= Essay.title %></h3>
    </div> 
    <div>
        <p>Essay Collection : <%= Essay.Collection_title %></p>
    </div>
    <div>
        <p>Essay body : <%= Essay.body %></p>
    </div>
    </div>
    </div>

  
</section>