<section>

    <div class='spacer'>
    </div> 
    <div class='details_Div'>
    <div style="height: 500px;">
    <div>
    <h3>Poem title = <%= Poem.title %></h3>
    </div> 
    <div>
        <p>Poem body : <%= Poem.body %></p>
    </div>
    </div>
    </div>

  
</section>